
.content {
    border-radius: 25px; 
    background-color: #F7F7F7;
    margin: 43px 100px;
    padding: 35px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content a {
    text-decoration: none;
}

.block {
    max-width: 340px;
    height: 340px;
    width: 100%;
    margin:15px;

    display: flex;
    flex-direction: column;
    background-size: cover;
}

.content .block .topBlock {
    flex: 1;
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.content .block .titleBlock {
    flex: 0 1 52px;
    padding: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-color: #FF6060;
    color: #FFFFFF;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    border-radius: 0px 0px 10px 10px;
}

@media only screen and (max-width: 768px){

    .content {
        margin: 0px 20px;
        background: transparent;
        display: flex;
        padding: 0px;
    }
    .block {
        max-width: 240px;
        height: 240px;
        margin: 15px;
    }

}
@media only screen and (max-width: 992px){
    .content{
        margin: 43px 40px;
    }

}

@media only screen and (max-width: 424px){
    .block {
        max-width: 240px;
        height: 240px;
    }
    .content a {
        max-width: 240px;
        width: 100%;
    }
}