.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    /* width: 100%; */
    margin: 0px 100px;
}

.lodging .collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
        width: 100%;
        margin: 0;
}

.fleche-up{
    transform: rotate(-180deg);
    transition: transform 0.2s ease-in-out;
}

.about .collapse .collapse-button{
    display: flex;
    align-items: center;
    margin-top: 33px;
    background-color: #FF6060;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    border: transparent;
    padding: 5px 17px 7px 18px;
    justify-content: space-between;
    width: 80%;
    z-index: 1;
    
}

.lodging .collapse-button{
    display: flex;
    align-items: center;
    width: 90%;
    height: 52px;
    margin-top: 33px;
    background-color: #FF6060;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: transparent;
    padding: 5px 17px 7px 18px;
    justify-content: space-between;
    z-index: 1;
}
.about .collapse-texte{
    width: 80%;
}
.lodging .collapse-texte{
    width: 90%;
}

.collapse .collapse-description{
    font-weight: 400;
    font-size: 24px;
    padding: 36px 27px 19px 18px;
    background-color: #F7F7F7;
    margin: 0;
    border-radius: 5px;
    margin-top: -10px;
}

.lodging .collapse-description{
    font-size: 18px;
    font-weight: 400;
}

@media only screen and (max-width: 768px){
    .collapse {
        margin: 20px;
    }
    .about .collapse .collapse-button{
        margin-top: 0 ;
    }
    .lodging .collapse .collapse-button{
        margin: 12px ;
    }
    .lodging .collapse{
        margin: 0;
    }
    .lodging .collapse-description {
        font-size: 14px;
        font-weight: 400;
    }
}    